@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #0A3871;
    --color-terciaria: #495057;
    --color-hover: #343A40;

    --fuente-init: 'Inter';
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundaria);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.input-section {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    background-color: transparent;
    color: #0A3871;
    border: 2px solid transparent;
    font-weight: 400;
    font-size: 1rem;
    resize: none;
    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    font-size: 1.2rem;
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #0A3871;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #08315a;
}

.box {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 80%;
    margin-bottom: 20px;
}

footer {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: auto;
}

@media (max-width: 1200px) {

    .header{
         padding: 10%;  
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentacion__contenido{
        width: auto;
    }
    
}
