@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #0A3871;
    --color-terciaria: #495057;
    --color-hover: #343A40;

    --fuente-init: 'Inter';
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-secundaria);
    text-decoration: none;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.left-button{
    border: 1px solid #0A3871;
    border-radius: 15px;
    background-color: #0A3871;
}

.right-button{
    border: 1px solid #0A3871;
    border-radius: 15px;
    background-color: #D8DFE8;
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}


.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

.box {
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.box-first-text {
    color: #343A40;
}

.box-second-text {
    color: #495057;
}

.footer{
    color:white;
    background-color: var(--color-secundaria);
    padding: 24px;
    text-align: left;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 200;
}

@media (max-width: 1200px) {

    .header{
         padding: 10%;  
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentacion__contenido{
        width: auto;
    }
    
}
